@model IEnumerable<SimpleBlog.Models.Post>

@{
    ViewBag.Title = "Posts";
}

<h1>Posts</h1>

@foreach (var post in Model) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="@Url.Action("Details", new { Id = post.PostId })">@post.Title</a>
            </h3>
        </div>
        <div class="panel-body">
            @post.Body
            <span class="pull-right">
                <i>By @post.ApplicationUserId at @post.Publish</i>
            </span>
        </div>
    </div>
}
